@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*////////////////////////
Table of Contents
1. Global Styles
2. Typography
3. Layout
3.1 Reusables
3.2 Other
4. Areas
4.1 Header
    - navigation
4.2 Introduction
4.3 Work-articles
4.4 Service-tiles
4.5 Contact-form
4.6 Footer
5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Roboto, "Times New Roman", serif;
    display: flex;
    flex-direction: column;
    height: 100;
    min-height: 100vh;
}

:root {
    --custom-purple: #5722CD;
    --custom-blue: #4845E4;
    --custom-pink: #ED4385;
    /*standaard tekst:*/
    --custom-default-black: #0C0C0C;
    /*grote zwevende woorden:*/
    --custom-purple-floating: #F2F0FF;
    /*voor achtergrond projecten:*/
    --custom-grey-light: #F3F6F9;
    /*Voor de service-tegel tekst:*/
    --custom-grey: #7A7A7A;
}


/* ------------------------------- 2. Typography ----------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather, serif;
}

h1 {
    color: var(--custom-purple-floating);
}

h2 {
    color: var(--custom-purple);
}

h3 {
    color: var(--custom-default-black)
}

h4 {
    color: var(--custom-purple)
}

p {
    font-family: Roboto, sans-serif;
}


/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

a {
    text-decoration: none;
    color: var(--custom-purple)

}
img {
    width: 100%;
    height: 100%;
}

button {
    font-family: inherit, Roboto, serif;
    border: none;
    box-shadow: 5px 7px 5px rgba(87, 34, 205, 0.9);
    border-radius: 2rem;
    padding: 1.35em 2.3em;

    font-size: 1rem;
    text-transform: uppercase;
    color: var(--custom-purple-floating);
    background-color: var(--custom-pink);
    margin: 1em;
}


input {
    font-family: inherit;
    border: none;
}


/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    display: flex;
    height: 94vh;
    background-color: var(--custom-blue);
    justify-content: center;
    align-items: center;
}

.header-inner-container {
    flex-basis: 90rem;
    display: flex;
    height: 94vh;
    flex-direction: column;
    /*border: dashed 3px orangered;*/
}

/*-------------navigation-------------------*/
.nav-outer-container {
    display: flex;
    justify-content: end;
    flex-grow: 2;
    /*border: solid 4px rebeccapurple;*/
}

.nav-inner-container {
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 2rem 0.5rem;
    /*border: solid 3px pink;*/
}

.nav-inner-container a {
    color: var(--custom-purple-floating);
    font-family: Roboto, serif;
    font-weight: 300;
    font-size: 1.3rem;
}

/*-----------/end nav -----------------------*/


/*!* --- header content-container: -----------------
 -----[text aka 'content'], button, squiggle ---------- *!*/

.header-content-outer-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: solid 3px lightgreen;*/
    position: relative;
}

.header-content-inner-container {
    flex-basis: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    /*border: solid 6px yellow;*/
}

/*.header-content {*/
/*    text-align: center;*/
/*    height: 100%;*/
/*    !*border: dashed 3px red;*!*/
/*}*/

.header-content-inner-container h1 {
    padding: 1.2em 0.2em 1.6em 0.2em;
    font-size: 2.85rem;
}

.header-content-inner-container p {
    color: var(--custom-purple-floating);
    font-size: 1.75rem;
    font-weight: 300;
    padding-bottom: 1em;
}


.header-content-inner-container .image-wrapper {
    width: 8vw;
    height: 18vh;
    /*border: solid 2px purple;*/
    position: absolute;
    bottom: -4em;
}


/* --------------- 4.2 Introduction ------------------- */

.intro-outer-container {
    padding: 10rem 3rem;
    display: flex;
    justify-content: center;
}

.intro-inner-container {
    text-align: center;
    flex-basis: 50rem;
}

.intro-inner-container h2 {
    padding: 0.8rem;
    font-size: 1.7em;
}

.intro-inner-container p {
    margin: 5rem 0 2rem 0;
}


/* ----------------- 4.3 Work-articles ------------- */
.work-outer-container {
    background-color: var(--custom-grey-light);
    display: flex;
    justify-content: center;
    padding: 5.5rem 3rem;
    border: solid 2px orange;
}

.work-inner-container {
    display: flex;
    flex-basis: 80rem;
    flex-direction: column;
    border: solid 3px greenyellow;
    row-gap: 4rem;
}

.work-inner-container article {
    display: flex;
    border: solid 2px purple;
    justify-content: space-between;
    /*align-items: center;*/

}

.work-inner-container article > div {
    flex-basis: 30em;
    /*height: 10rem;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
    padding: 2rem;

    border: solid 2px red;
}

.work-inner-container article > div h3 {
    font-size: 2rem;
}

.work-inner-container article .image-wrapper {
    box-shadow: 0 15px 15px rgba(64, 62, 62, 0.25);
    flex-basis: 40em;
}

.squiggle {
    width: 75px;
}

.work-inner-container article:nth-of-type(even) {
    flex-direction: row-reverse;
}


.work-inner-container a {
    text-transform: uppercase;
    font-family: Roboto, serif;
    font-weight: bold;
}


/* ----------------- 4.4 Service-tiles ---------------- */

.service-outer-container {
    padding: 5rem 0;
}

.service-inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px 2px;
}



.service-inner-container article {
    flex-basis: 350px;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    border: solid 2px var(--custom-purple);
    padding: 2rem;
    margin: 1rem;
    box-shadow: 5px 7px 10px rgba(87, 34, 205, 0.1);
}

.service-inner-container article .image-wrapper {
    max-width: 100px;
    max-height: 100px;
}

.service-inner-container article h4 {
    padding: 0.5rem 0 1rem 0;
}

.service-inner-container article p {
    color: var(--custom-grey);

}

/* ----------------- 4.5 Contact-form ----------------- */
.form-outer-container {
    background-color: var(--custom-blue);
    display: flex;
    justify-content: center;
    padding: 7rem 2rem 2rem 2rem;
}

.form-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-inner-container h5 {
    color: var(--custom-purple-floating);
    font-size: 2.8rem;
}

.form-inner-container p {
    color: var(--custom-purple-floating);
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: 300;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-top: 0.2rem;
    font-family: Roboto, sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--custom-purple-floating)
}

form input {
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    padding-left: 0.8rem;
}

form textarea{
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem 0.8rem;
    font-family: Roboto, sans-serif;
}

form button {
    margin-top: 1.5rem;
    width: 12rem;
}


/* ----------------- 4.6 Footer ----------------------- */

footer {
    background-color: var(--custom-default-black);
    color: white;
    display: flex;
    justify-content: center;
    font-weight: lighter;
}

/* ------------------------------- 5. Media Queries -------------------------------- */
@media screen and (max-width: 992px){
header{
    background-color: yellow;
}
}